<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app id="WebApp_1545478282003" >
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>textServlet</servlet-name>
  	<display-name>textServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.textServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>textServlet</servlet-name>
  	<url-pattern>/textServlet</url-pattern>
  </servlet-mapping>
</web-app>
